# Ignore final PDF but not figures
*.out
*.pdf
!figures/*.pdf
*.pyc
auto
.~*
_region_.tex
### /home/fabio/.gitignore-boilerplates/Global/vim.gitignore
*tar.gz

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

### /home/fabio/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### /home/fabio/.gitignore-boilerplates/Global/Eclipse.gitignore

*.pydevproject
.project
.texlipse
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


### /home/fabio/.gitignore-boilerplates/LaTeX.gitignore

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

# Ignore byte-compiled Python scripts
*.pyc
